
.main{
  width:310px;
  margin:0 auto;
}
h1{
 color:hsl(0, 0%, 95%);
 font-weight: 700;
  font-family:"Big Shoulders Display" , Sans-Serif ;
}
p, a{
  font-family: "Lexend Deca", Sans-Serif;
  font-weight: 400;
}
.main a{
  text-decoration: none;
  background: hsl(0, 0%, 95%);
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width:100px;
  padding: 15px;
  margin-top: 10px;
  border-radius:50px;
}
.main .sedans a:hover{
  border:2px solid hsl(0, 0%, 95%);
  background:hsl(31, 77%, 52%);
  color:hsl(0,0%,95%);
  padding:13px;
}
.main .suvs a:hover{
  border:2px solid hsl(0, 0%, 95%);
  background:hsl(184, 100%, 22%);
  color:hsl(0,0%,95%);
  padding:13px;
}
.main .luxury a:hover{
  border:2px solid hsl(0, 0%, 95%);
  background:hsl(179, 100%, 13%);
  color:hsl(0,0%,95%);
  padding:13px;
}
.sedans a{
  color: hsl(31, 77%, 52%);
}
.suvs a{
  color: hsl(184, 100%, 22%) ;
}
.luxury a{
  color: hsl(179, 100%, 13%);
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  line-height:1.5rem;
  font-size: 15px;
}

.sedans{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background:hsl(31, 77%, 52%) ;
  padding: 50px;
}
.suvs{
  background: hsl(184, 100%, 22%);
  padding: 50px;
}
.luxury{
  background: hsl(179, 100%, 13%);
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
  padding: 50px;
}
@media screen and (min-width:750px){
  .sedans{
    border-radius: 10px 0 0 10px;
  }
  
  .luxury{
    border-radius: 0 10px 10px 0;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .main div{
    width: 200px;
  }
  .main p{
  margin-bottom:100px;
  }
}
